/* 100-Days-CSS Day#24 Challenge - Finish Button*/
:root {
  --color: #57d895;
}
* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
}

/* The base frame design. */
.frame {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  border-radius: 7px;
  background-color: #57d895;
}

#finish-button,
.button-control {
  position: relative;
  width: 250px;
  height: 62px;
}

#finish-button {
  opacity: 0;
}

.button-control {
  display: block;
  position: absolute;
  width: 250px;
  height: 62px;
}

#svg-circle {
  /* display: none; */
  visibility: hidden;
  position: relative;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, -43px) rotate(-90deg);
}

.button {
  position: absolute;
  left: 0px;
  z-index: 2;
  width: 250px;
  height: 100%;
  margin: 0 auto;
  padding: 0.75em;
  border: 2px solid white;
  border-radius: 60px;
  outline: none;
  outline-offset: 0px;
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: 2px;
}

.button::after {
  content: "FINISH";
}

#finish-button:checked ~ .button-control .button {
  width: 60px;
  left: 95px;
  border-color: #45b078;
  background-color: #fff;
  animation-name: transformation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  transition: width 0s 1s, left 0s 1s, background-color 0s 1s;
}

/* 0%-10% is the shrinking of the button */
/* 10%-50% is the white "border" or more accurately the
   white box-shadow growing circularly. */
/* 50-50.1% the box-shadow(s) disappear and get replaced
   by an outline. */
/* 50.1%-70% is the white circular outline that grows
   and fades at the same time. */
@keyframes transformation {
  0% {
    width: 250px;
    left: 0px;
    background-color: var(--color);
  }

  100% {
    width: 60px;
    border-color: #45b078;
    background-color: var(--color);
    left: 95px;
  }
}
#finish-button:checked ~ .button-control #svg-circle {
  animation-name: make-visible;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes make-visible {
  0% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}

#finish-button:checked ~ .button-control #svg-circle #circle-2 {
  animation-name: timer;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes timer {
  0% {
    stroke-dashoffset: 188.5;
    stroke-dasharray: 188.5;
  }

  50% {
    stroke: black;
    stroke-dashoffset: 0;
  }
  50.1% {
    r: 30;
    stroke: black;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke-dasharray: 188.5;
  }
  100% {
    r: 60;
    stroke: var(--color);
    stroke-width: 3px;
    stroke-dashoffset: 0;

    stroke-dasharray: 377;
  }
}
#finish-button:checked ~ .button-control .button::after {
  content: "\2713";
  position: relative;
  top: -10px;
  font-size: 2rem;
  color: #57d895;
}
